body {
    background-image: url(../assets/images/space-1280.jpg);
    background-position: 50% 0%;
    color: white;
    font-family: 'Monda', sans-serif;
}

container {
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: aliceblue;

    color: #FFF;
    font-size: 60px;
    line-height:.5em;
    margin: 1em 0;
    position: relative;
    top: 5%;
    text-shadow: 
      0 -2px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(71, 71, 71, 0.9);;
    width: 100%;
}

h3.head {
    position: relative;
    top: 8%;
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: 'Monda', sans-serif;
}

.game-container {
    position: relative;
    text-align: center;
    margin: 25% auto;
}

.result {
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: greenyellow;
}

#game {
    position: relative;
    text-align: center;
    margin: auto;
}

#guesses{
    font-family: 'Architects Daughter', cursive;
    color: red;
    font-size: 30px;
    text-align: center;
}

.word{
    font-family: 'Architects Daughter', cursive;
    color: white;
    font-size: 30px;
    text-align: center;
}
#word{
    letter-spacing: 0.75em;

}

